/* Dom Day-2 */
.clock{
    border: 2px solid black;
}
.timer{
    font-size: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
#display-1{
    font-size: 50px;
    gap: 10px;
    background-color: rgb(248, 226, 248);
    padding: 5px;
    margin: 5px;
}
#display-2{
    font-size: 50px;
    gap: 10px;
    background-color: rgb(248, 226, 248);
    padding: 5px;
    margin: 5px;
}
#display-3{
    font-size: 50px;
    gap: 10px;
    background-color: rgb(248, 226, 248);
    padding: 5px;
    margin: 5px;
    
}
#display-4{
    font-size: 50px;
    gap: 10px;
    background-color: rgb(189, 143, 250);
    padding: 5px;
    margin: 5px;
    
}
#cott{
    font-size: 50px;
}